@import "~antd/dist/antd.css";

.App {
  text-align: center;
  font-size: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout-header {
  display: flex;
  align-items: center;
  background-color: white;
}
.section-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.section_wrapper {
  width: 100%;
  max-width: 1108px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 28px 0 20px;
}
.header__menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.header__item {
  flex-shrink: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  margin-right: 35px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: #be763c;
  }
  &:active {
    opacity: 0.7;
  }
}

.logo {
  flex-shrink: 0;
  margin-right: 74px;
}
.telephone {
  margin-right: 60px;
}
