@import "~antd/dist/antd.css";

.App {
  text-align: center;
  font-size: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #e5e5e5;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout-header {
  display: flex;
  align-items: center;
  background-color: transparent;
}
.section {
  display: flex;
  justify-content: center;
}
.section-header {
  border-bottom: 1px solid black;
}

.section_wrapper {
  width: 100%;
  max-width: 1108px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 28px 0 20px;
}
.header__menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.header__item {
  flex-shrink: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  margin-right: 35px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: #be763c;
  }
  &:active {
    opacity: 0.7;
  }
}

.logo {
  flex-shrink: 0;
  margin-right: 74px;
}
.telephone {
  margin-right: 60px;
}

.actions {
  background-color: black;
  color: white;
  padding: 73px;
}

.section-title {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}

.text-accent {
  color: #be763c;
}
.actions__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.action-card {
  position: relative;
  width: 48.7%;
  height: 218px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  color: #1d1d1b;
  padding: 33px 64px 32px 59px;
}

.actions-sticker {
  position: absolute;
  right: -20px;
  top: -25px;
}

.action-card__time-to-end {
  display: flex;
  align-items: center;
  color: #acacac;
  margin-bottom: 19px;
}
.action-card__title {
  margin-left: 10px;
}
.action-days {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 17px;
}
.action-new-condition__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.action-new-condition {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.action-prev-price {
  text-decoration: line-through;
  margin-bottom: 8px;
}
.action-new-price {
  font-weight: bold;
  font-size: 18px;
}
.actions__title {
  margin-bottom: 62px;
}
.Button {
  border: none;
  border-radius: 0;
  background-color: #464f3b;
  color: #ffffff;
  padding: 14px 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: #343e29;
    color: #ffffff;
  }
  &:active {
    opacity: 0.7;
  }
  &::after {
    content: none;
  }
  &--light {
    background-color: #be763c;
  }
}
.action-button {
  align-self: end;
}

// hero
.hero {
  max-height: 526px;
}
.discoverer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0;
}
.discoverer__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 35px;
  padding: 10px 48px;
  background-color: black;
  color: white;
  margin-bottom: 26px;
  letter-spacing: 6.4px;
}
.discoverer__subtitle-wrapper {
  display: flex;
}
.discoverer__subtitle {
  position: relative;
  text-align: start;
  &:first-child {
    margin-right: 56px;
    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 32px;
      background-color: black;
      top: 14px;
      right: -12px;
      transform: translateX(100%);
    }
  }
  &:last-child {
    width: 380px;
  }
}

.hero-cabinet {
  position: relative;
  background-image: url("./components/hero_bg.png");
  background-size: cover;
  background-position-y: bottom;
}

.cabinet {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 43%;
  width: 335px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 27px 48px 20px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}
.cabinet__title {
  font-size: 18px;
  line-height: 24px;
}

.text-link {
  display: flex;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: #be763c;
}

.text-accent-bold {
  font-weight: 700;
}

// benefit
.benefit {
  padding: 107px 0;
}
.benefit-section__title {
  margin-bottom: 66px;
}
.benefit__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.benefit__title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}
.benefit__title {
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold;
}
.benefit__description {
  text-align: start;
}
